version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: calipuff-postgres
    restart: always
    environment:
      POSTGRES_DB: calipuff
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secretpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
